<mat-card class="card">
  <div class="card-image">
    <div class="card-background">
      <img src="assets/icons/icone.svg" />
    </div>
  </div>

  <mat-card-subtitle>{{ card.name }}</mat-card-subtitle>
  <mat-divider inset></mat-divider>
  <div class="card-content">
    <mat-card-content>
      {{ card.status }}
    </mat-card-content>
  </div>
  <mat-card-footer>
    <mat-card-actions align="start">
      <div class="card-actions">
        <button (click)="handleCardDelete()">
          <img src="assets/icons/Icon-trash.svg" />Excluir
        </button>
        <button (click)="handleSideNavToggle()">
          <img src="assets/icons/Icon-edit.svg" />Editar
        </button>
      </div>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

<ng-template #deleteConfirmation>
  <mat-sidenav-container fullscreen fixedInViewport="true">
    <mat-sidenav opened>SideNav</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
