<mat-card class="card">
  <div class="card-image">
    <div class="card-background">
      <img [src]="card.imageUrl" class="circular-image" />
    </div>
  </div>

  <mat-card-subtitle>{{ card.name }}</mat-card-subtitle>
  <mat-divider inset></mat-divider>
  <div class="card-content">
    <mat-card-content>
      {{ card.status }}
    </mat-card-content>
  </div>
  <mat-card-footer>
    <mat-card-actions align="start">
      <div class="card-actions">
        <button (click)="handleCardDelete()">
          <img src="assets/icons/Icon-trash.svg" />Excluir
        </button>
        <button (click)="openRightPanel(tempRef)">
          <img src="assets/icons/Icon-edit.svg" />Editar
        </button>
      </div>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

<ng-template #tempRef>
  <div class="title-row">
    <img src="assets/icons/icone_criar.svg" width="46px" height="46px" /><label
      >Editar card</label
    >
  </div>
  <hr />
  <div class="form-row">
    <form >
      <label for="inputCardName">
        DIGITE UM NOME PARA O CARD
      </label>
      <input
        type="text"
        placeholder="Digite o título"
        name="inputCardName"
        [(ngModel)]="card.name"
      />
      <label for="inputCardName">
        INCLUA UMA IMAGE PARA APARECER NO CARD
      </label>
      <input
        type="text"
        placeholder="Digite o status"
        name="inptuCardStatus"
        [(ngModel)]="card.status"
      />
      <input
        type="file"
        placeholder="Digite o status"
        name="inptuCardStatus"
        [(ngModel)]="card.image"
      />
    </form>
    <hr>
    <div class="button-row">
      <button (click)="handleEditCard()">Editar Card</button>
    </div>
  </div>
</ng-template>
