.div {
  background-image: url("../../../assets/images/fundo-busca@2x.png");
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 261px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 1046px;
  height: 75px;
  border-radius: 8px;
  border: 0;
  font-size: 24px;
  text-align: left;
}

.img-search {
  cursor: pointer;
  margin-left: -60px;
}

input:focus {
  outline:none;
}

