.div {
  background-image: url('../assets/images/fundo-busca@2x.png');
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 261px;
}
.content{
    margin-left:168px;
    margin-right:225px;
    margin-top:40px;
}