@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Muli, Regular', sans-serif !important;
  overflow-y: hidden;
  background: #f6f4f6;
}
