@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
  font-family: "Muli, Regular";
  src: url(./assets/fonts/Muli-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Muli, Bold";
  src: url(./assets/fonts/Muli-Bold.ttf) format("truetype");
}

* {
  font-family: 'Muli, Regular', sans-serif; 
}
html,
body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  background: #f6f4f6;
}
.mat-drawer-backdrop.mat-drawer-shown {
  background: #F6F4F6CC;
  opacity: 1;
}

